<iframe allowtransparency="true" frameborder="0" scrolling="no" style="width: 100%; height: 400px; margin-top: 10px; margin-bottom: 10px;" src="//www.weebly.com/weebly/apps/generateMap.php?map=google&amp;elementid=987504529853671103&amp;ineditor=0&amp;control=3&amp;width=auto&amp;height=400px&amp;overviewmap=0&amp;scalecontrol=0&amp;typecontrol=0&amp;zoom=16&amp;long=22.808776800000032&amp;lat=40.6704866&amp;domain=www&amp;point=1&amp;align=2&amp;reseller=false"></iframe>

<!-- Jumbotron -->
<div class="jumbotron left blue-grey lighten-5">

  <div class="container">

    <div class="row">

      <div class="col-xl-10 offset-xl-2 py-5">

        <h1>Επικοινωνία</h1>

        <p class="lead">Για οποιαδήποτε απορία σας, μην διστάσετε να επικοινωνήσετε μαζί μας.</p>


        <form id="contact-form" method="post" action="https://formspree.io/tragopoulos@icloud.com" role="form">

          <div class="messages"></div>

          <div class="controls">

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="form_name">Όνομα *</label>
                  <input id="form_name" type="text" name="name" class="form-control" required="required" data-error="Firstname is required.">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="form_lastname">Επώνυμο *</label>
                  <input id="form_lastname" type="text" name="surname" class="form-control" required="required" data-error="Lastname is required.">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="form_email">Email *</label>
                  <input id="form_email" type="email" name="email" class="form-control" required="required" data-error="Valid email is required.">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="form_phone">Τηλέφωνο</label>
                  <input id="form_phone" type="tel" name="phone" class="form-control" >
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="form_message">Μήνυμα *</label>
                  <textarea id="form_message" name="message" class="form-control" rows="4" required="required" data-error="Please, leave us a message."></textarea>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-12">
                <input type="submit" class="btn btn-success btn-send" value="Αποστολη">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p class="text-muted"><strong>*</strong> Αυτά τα πεδία απαιτούνται</p>
              </div>
            </div>
          </div>

        </form>

      </div><!-- /.8 -->

    </div> <!-- /.row-->

  </div> <!-- /.container-->

</div>
<!-- Jumbotron -->
