<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-8 mx-auto">
        <!-- Content -->
        <h5 class="font-weight-bold mt-3 mb-4 text-center" i18n>Αγγελίες</h5>
        <p i18n>Δημοσιεύουμε τις αγγελίες μας στις παρακάτω πλατφόρμες ανάλογα με την διαθεσιμότητα.</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
  <!-- Social buttons -->
  <div>
  <ul class="list-inline flex-center text-align-center text-decoration-none">
    <li>
      <a class="mx-1" mdbWavesEffect href="https://www.freelist.gr/aggelia.php/gkarsoniera-tei-thessalonikis-38tm/51119-3" target="_blank">
        <img src="https://raw.githubusercontent.com/Tragopoulos/Afapartments/master/src/assets/graphics/fl.png" alt="Freelist" class="rounded" style="width: 60px">
      </a>
    </li>
    <li>
      <a class="mx-1" mdbWavesEffect href="https://www.spitogatos.gr/%CE%B5%CE%BD%CE%BF%CE%B9%CE%BA%CE%AF%CE%B1%CF%83%CE%B7_Studio_%CE%93%CE%BA%CE%B1%CF%81%CF%83%CE%BF%CE%BD%CE%B9%CE%AD%CF%81%CE%B1_%CE%A3%CE%AF%CE%BD%CE%B4%CE%BF%CF%82__%CE%95%CF%87%CE%AD%CE%B4%CF%89%CF%81%CE%BF%CF%82_-l4765283" target="_blank">
        <img src="https://raw.githubusercontent.com/Tragopoulos/Afapartments/master/src/assets/graphics/spitogatos.png" alt="Spitogatos" class="rounded" style="width: 60px">
      </a>
    </li>
    <li>
      <a class="mx-1" mdbWavesEffect href="https://www.spiti24.gr/detail.php?id=3956610?anteprima=s" target="_blank">
        <img src="https://raw.githubusercontent.com/Tragopoulos/Afapartments/master/src/assets/graphics/spiti24.png" alt="spiti24" class="rounded" style="width: 60px">
      </a>
    </li>
    <li>
      <a class="mx-1" mdbWavesEffect href="https://my.xe.gr/app/static/listing/86303136/" target="_blank">
        <img src="https://raw.githubusercontent.com/Tragopoulos/Afapartments/master/src/assets/graphics/xe.png" alt="xe" class="rounded" style="width: 60px">
      </a>
    </li>
  </ul>
  </div>
  <!-- Social buttons -->
  <hr>
  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item">
      <h5 class="m-3" i18n>Κοινοποίηση</h5>
    </li>
    <li class="list-inline-item m-3"><a style="color: white;" href="https://www.facebook.com/sharer/sharer.php?u=https://sindos-diamerismata-garsonieres.weebly.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
    <li class="list-inline-item m-3"><a style="color: white;" href="https://twitter.com/intent/tweet?text=Βρήκα αυτό το καταπληκτικό διμαέρισμα στη Σίνδο&amp;url=https://sindos-diamerismata-garsonieres.weebly.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
    <li class="list-inline-item m-3"><a style="color: white;" href="mailto:#?subject=Διαμέρισμα στη Σίνδο&body=Βρήκα αυτό το καταπληκτικό διμαέρισμα στη Σίνδο https://sindos-diamerismata-garsonieres.weebly.com"><i class="fas fa-envelope"></i></a></li>
  </ul>
  <!-- Call to action -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://tragopoulos.github.io" target="_blank"> Fotios Tragopoulos</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

