
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light blue-grey lighten-5" [containerInside]="false">

  <!-- Navbar brand -->

  <mdb-navbar-brand><a class="navbar-brand" routerLink="/" i18n><i class="fas fa-city"></i > A & F Apartments</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <ngb-tabset type="pills">
      <ngb-tab class="nav-item">
        <ng-template ngbTabTitle>
          <a routerLink="/" i18n>αρχική</a>
        </ng-template>
      </ngb-tab>
        <ngb-tab class="nav-item">
        <ng-template ngbTabTitle>
          <a routerLink="/photos" i18n>φωτογραφίες</a>
        </ng-template>
        </ngb-tab>
        <ngb-tab class="nav-item">
        <ng-template ngbTabTitle>
          <a routerLink="/contact" i18n>επικοινωνία</a>
        </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto">
      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" i18n>🇬🇷Ελληνικά<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary dropdown-menu-right w-responsive" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="/gr" i18n>🇬🇷 Ελληνικά</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="/en" i18n>🇬🇧 English</a>
        </div>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
