<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-8 mx-auto">
        <!-- Content -->
        <h5 class="font-weight-bold mt-3 mb-4 text-center">Αγγελίες</h5>
        <p>Δημοσιεύουμε τις αγγελίες μας στις παρακάτω πλατφόρμες ανάλογα με την διαθεσιμότητα.</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1" mdbWavesEffect>
        <img src="../../../assets/graphics/fl.png" class="rounded" style="width: 60px">
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1" mdbWavesEffect>
        <img src="../../../assets/graphics/spitogatos.png" class="rounded" style="width: 60px">
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1" mdbWavesEffect>
        <img src="../../../assets/graphics/spiti24.png" class="rounded" style="width: 60px">
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1" mdbWavesEffect>
        <img src="../../../assets/graphics/xe.png" class="rounded" style="width: 60px">
      </a>
    </li>
  </ul>
  <!-- Social buttons -->
  <hr>
  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item">
      <h5 class="">Κοινοποίηση</h5>
    </li>
    <li class="list-inline-item"><a style="color: white;" href="https://www.facebook.com/sharer/sharer.php?u=https://sindos-diamerismata-garsonieres.weebly.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
    <li class="list-inline-item"><a style="color: white;" href="https://twitter.com/intent/tweet?text=Βρήκα αυτό το καταπληκτικό διμαέρισμα στη Σίνδο&amp;url=https://sindos-diamerismata-garsonieres.weebly.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
    <li class="list-inline-item"><a style="color: white;" href="mailto:#?subject=Διαμέρισμα στη Σίνδο&body=Βρήκα αυτό το καταπληκτικό διμαέρισμα στη Σίνδο https://sindos-diamerismata-garsonieres.weebly.com"><i class="fas fa-envelope"></i></a></li>
  </ul>
  <!-- Call to action -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://tragopoulos.github.io" target="_blank"> Fotios Tragopoulos</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

