//$background_color_1: #7d8488;

.intro-header {
  height: unset !important;
}
.view {
  height: 70vh !important;
}

.blury {
  -webkit-filter: blur(20px);
  filter: blur(20px);
}
.rgba-gradient {
  .full-bg-img {
    background: linear-gradient(45deg, rgba(242, 34, 50, 0.5), rgba(255, 187, 54, 0.6) 100%);
  }
}

// Modal
.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}

@media (max-width: 740px) {
  .full-height {
    height: 700px;
    body {
      height: 700px;
    }
    header {
      height: 700px;
      .view {
        height: 700px;
      }
    }
  }
}
